@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono'); 

body {
    background-color: black;
    font-family: "Share Tech Mono";
    font-size: 16px;
    position: relative; 
}

body::-webkit-scrollbar 
{
    display: none; /* Allow scrolling but hide the scrollbar */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("D:\\Coding Workspaces\\Cli Portfolio\\Assets\\fancy.gif"); */
    background-image: url("../Assets/gtfo.gif");
    background-position: center;
    background-size: cover;
    /* Bug fix for zooming in .gif for newline of cli prompt */
    background-attachment: fixed; 
    opacity: 0.35; 
    /* filter: blur(3px); */
    z-index: -1; 
    pointer-events: none; 
}

#cmd1
{
    font-family: inherit;
    font-weight: bold;
    border: 0;
    outline: 0;
    color: white;
    background: transparent;
    visibility: hidden;
}

.header
{
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid red;
}

.content
{
    flex: 1;
    position: relative;
    width: 1880px;
    min-height: 930px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    /* box-shadow: 0 0 3px, 0 0 3px, 0 0 3px; */
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 1px;
    padding-bottom: 3px; 
    overflow: visible;
}

.welcomemsg
{
    padding-left: 10px;
}

.CLI
{
    padding-left: 10px;
}

.foot 
{
    font-size: 15px;
    font-weight: 200;
    text-align: right;
}

.foot h4
{
    margin-top: 490px;
    margin-left: 700px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
}